	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2018 00:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype");
       
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left:0px;
}

.flaticon-social:before { content: "\f100"; }
.flaticon-round-delete-button:before { content: "\f101"; }
.flaticon-forbidden-sign:before { content: "\f102"; }
.flaticon-acceptance-circular-button:before { content: "\f103"; }
.flaticon-verify-sign:before { content: "\f104"; }
.flaticon-landscape-representing-photo-archive:before { content: "\f105"; }
.flaticon-music-teacher:before { content: "\f106"; }
.flaticon-pause-button:before { content: "\f107"; }
.flaticon-rubbish:before { content: "\f108"; }
.flaticon-edit-document:before { content: "\f109"; }
.flaticon-eye:before { content: "\f10a"; }
.flaticon-three:before { content: "\f10b"; }
.flaticon-hand-shake:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-profile:before { content: "\f10e"; }
.flaticon-users:before { content: "\f10f"; }
.flaticon-more-details-circular-button:before { content: "\f110"; }
.flaticon-voice-recorder-microphone:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-people-1:before { content: "\f113"; }
.flaticon-interface-1:before { content: "\f114"; }
.flaticon-elections:before { content: "\f115"; }
.flaticon-black-gallon:before { content: "\f116"; }
.flaticon-comments:before { content: "\f117"; }
.flaticon-bull-horn-announcer:before { content: "\f118"; }
.flaticon-shop:before { content: "\f119"; }
.flaticon-study:before { content: "\f11a"; }
.flaticon-smile:before { content: "\f11b"; }
.flaticon-youtube:before { content: "\f11c"; }
.flaticon-interface:before { content: "\f11d"; }
.flaticon-support:before { content: "\f11e"; }
.flaticon-broken-heart:before { content: "\f11f"; }
.flaticon-victory:before { content: "\f120"; }
.flaticon-thumb-up:before { content: "\f121"; }
.flaticon-web:before { content: "\f122"; }
.flaticon-playlist-1:before { content: "\f123"; }
.flaticon-playlist:before { content: "\f124"; }
.flaticon-user:before { content: "\f125"; }
.flaticon-sharing-interface:before { content: "\f126"; }
